<footer class="glass">
    <div class="container footer-container">
        <div class="social-links">
            <a href="https://github.com/seavinh" target="_blank" rel="noopener noreferrer" aria-label="GitHub"><span class="material-symbols-rounded">code_blocks</span></a>
            <a href="mailto:ouseavinh@gmail.com" aria-label="Email"><span class="material-symbols-rounded">mail</span></a>
            <a href="https://www.facebook.com/share/18owfcUSjB/?mibextid=wwXIfr" target="_blank" rel="noopener noreferrer" aria-label="Facebook"><span class="material-symbols-rounded">groups</span></a>
        </div>
        
    </div>
</footer>